services:
  amelie:
    build: .
    container_name: amelie-bot
    restart: always
    env_file:
      - .env
    environment:
      - TZ=America/Sao_Paulo
    volumes:
      - .:/app
      - /app/venv
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
